---


---




  
  
  <title>Synch Group - Interesting Papers</title>
  


  <div class="stackedit__html"><h1 id="cs-synch---papers">CS Synch - Papers</h1>
<h2 id="example---paper-information">Example - Paper Information</h2>
</div><table>
<thead>
<tr>
<th>Title</th>
<th>Conference</th>
<th>Abstract</th>
<th>Why is it important?</th>
</tr>
</thead>
<tbody>
<tr>
<td>P == NP Solved!</td>
<td>PNP 2019</td>
<td>‘<em># CS Synch - Papers
</em></td></tr></tbody></table><h2 id="example---paper-information">Example - Paper Information</h2>

<table>
<thead>
<tr>
<th>Title</th>
<th>Conference</th>
<th>Abstract</th>
<th>Why is it important?</th>
</tr>
</thead>
<tbody>
<tr>
<td>P == NP Solved!</td>
<td>PNP 2019</td>
<td>'_Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.’</td>
<td></td>
</tr>
<tr>
<td></td><td>_’</td>
<td>Solves the millennium problem.</td>
<td></td>
<td></td>
</tr>
</tbody>
</table>

<h2 id="assignments">Assignments</h2>
<div class="mermaid"><svg xmlns="http://www.w3.org/2000/svg" id="mermaid-svg-FI3UsJTe66FlezAA" width="100%" viewBox="0 0 591.21875 236"><g transform="translate(-12, -12)"><g class="output"><g class="clusters"></g><g class="edgePaths"><g class="edgePath"><path class="path" d="M53.359375,66L53.359375,91L53.359375,116" marker-end="url(#arrowhead4291)"></path><defs><marker id="arrowhead4291" viewBox="0 0 10 10" refX="9" refY="5" markerUnits="strokeWidth" markerWidth="8" markerHeight="6" orient="auto"><path d="M 0 0 L 10 5 L 0 10 z" class="arrowheadPath"></path></marker></defs></g><g class="edgePath"><path class="path" d="M178.1953125,66L178.1953125,91L178.1953125,116" marker-end="url(#arrowhead4292)"></path><defs><marker id="arrowhead4292" viewBox="0 0 10 10" refX="9" refY="5" markerUnits="strokeWidth" markerWidth="8" markerHeight="6" orient="auto"><path d="M 0 0 L 10 5 L 0 10 z" class="arrowheadPath"></path></marker></defs></g><g class="edgePath"><path class="path" d="M303.09375,66L303.09375,91L303.09375,116" marker-end="url(#arrowhead4293)"></path><defs><marker id="arrowhead4293" viewBox="0 0 10 10" refX="9" refY="5" markerUnits="strokeWidth" markerWidth="8" markerHeight="6" orient="auto"><path d="M 0 0 L 10 5 L 0 10 z" class="arrowheadPath"></path></marker></defs></g><g class="edgePath"><path class="path" d="M441.8203125,66L441.8203125,91L441.8203125,116" marker-end="url(#arrowhead4294)"></path><defs><marker id="arrowhead4294" viewBox="0 0 10 10" refX="9" refY="5" markerUnits="strokeWidth" markerWidth="8" markerHeight="6" orient="auto"><path d="M 0 0 L 10 5 L 0 10 z" class="arrowheadPath"></path></marker></defs></g><g class="edgePath"><path class="path" d="M569.46875,66L569.46875,91L569.46875,155" marker-end="url(#arrowhead4295)"></path><defs><marker id="arrowhead4295" viewBox="0 0 10 10" refX="9" refY="5" markerUnits="strokeWidth" markerWidth="8" markerHeight="6" orient="auto"><path d="M 0 0 L 10 5 L 0 10 z" class="arrowheadPath"></path></marker></defs></g></g><g class="edgeLabels"><g class="edgeLabel" transform=""><g transform="translate(0,0)" class="label"></g></g></g></g></g></svg><div xmlns="http://www.w3.org/1999/xhtml"><span class="edgeLabel"></span></div><g class="edgeLabel" transform=""><g transform="translate(0,0)" class="label"><div xmlns="http://www.w3.org/1999/xhtml"><span class="edgeLabel"></span></div></g></g><g class="edgeLabel" transform=""><g transform="translate(0,0)" class="label"><div xmlns="http://www.w3.org/1999/xhtml"><span class="edgeLabel"></span></div></g></g><g class="edgeLabel" transform=""><g transform="translate(0,0)" class="label"><div xmlns="http://www.w3.org/1999/xhtml"><span class="edgeLabel"></span></div></g></g><g class="edgeLabel" transform=""><g transform="translate(0,0)" class="label"><div xmlns="http://www.w3.org/1999/xhtml"><span class="edgeLabel"></span></div></g></g><g class="nodes"><g class="node" id="Louis" transform="translate(53.359375,43)"><rect rx="0" ry="0" x="-28.203125" y="-23" width="56.40625" height="46"></rect><g class="label" transform="translate(0,0)"><g transform="translate(-18.203125,-13)"><div xmlns="http://www.w3.org/1999/xhtml">Louis</div></g></g></g><g class="node" id="LouisAssigned" transform="translate(53.359375,178)"><rect rx="0" ry="0" x="-33.359375" y="-62" width="66.71875" height="124"></rect><g class="label" transform="translate(0,0)"><g transform="translate(-23.359375,-52)"><div xmlns="http://www.w3.org/1999/xhtml">ICPP<br>ICDCS<br>ISMM<br>PLDI</div></g></g></g><g class="node" id="Wentao" transform="translate(178.1953125,43)"><rect rx="0" ry="0" x="-37.8515625" y="-23" width="75.703125" height="46"></rect><g class="label" transform="translate(0,0)"><g transform="translate(-27.8515625,-13)"><div xmlns="http://www.w3.org/1999/xhtml">Wentao</div></g></g></g><g class="node" id="WentaoAssigned" transform="translate(178.1953125,178)"><rect rx="0" ry="0" x="-41.4765625" y="-62" width="82.953125" height="124"></rect><g class="label" transform="translate(0,0)"><g transform="translate(-31.4765625,-52)"><div xmlns="http://www.w3.org/1999/xhtml">NVMW<br>OOPSLA<br>EuroSys<br>EuroPar</div></g></g></g><g class="node" id="Hensen" transform="translate(303.09375,43)"><rect rx="0" ry="0" x="-36.828125" y="-23" width="73.65625" height="46"></rect><g class="label" transform="translate(0,0)"><g transform="translate(-26.828125,-13)"><div xmlns="http://www.w3.org/1999/xhtml">Hensen</div></g></g></g><g class="node" id="HensenAssigned" transform="translate(303.09375,178)"><rect rx="0" ry="0" x="-33.421875" y="-62" width="66.84375" height="124"></rect><g class="label" transform="translate(0,0)"><g transform="translate(-23.421875,-52)"><div xmlns="http://www.w3.org/1999/xhtml">PPoPP<br>PODC<br>DISC<br>SPAA</div></g></g></g><g class="node" id="Mohammad" transform="translate(441.8203125,43)"><rect rx="0" ry="0" x="-51.8984375" y="-23" width="103.796875" height="46"></rect><g class="label" transform="translate(0,0)"><g transform="translate(-41.8984375,-13)"><div xmlns="http://www.w3.org/1999/xhtml">Mohammad</div></g></g></g><g class="node" id="MohammadAssigned" transform="translate(441.8203125,178)"><rect rx="0" ry="0" x="-39.1484375" y="-62" width="78.296875" height="124"></rect><g class="label" transform="translate(0,0)"><g transform="translate(-29.1484375,-52)"><div xmlns="http://www.w3.org/1999/xhtml">PACT<br>SOSP<br>OSDI<br>ASPLOS</div></g></g></g><g class="node" id="Alan" transform="translate(569.46875,43)"><rect rx="0" ry="0" x="-25.75" y="-23" width="51.5" height="46"></rect><g class="label" transform="translate(0,0)"><g transform="translate(-15.75,-13)"><div xmlns="http://www.w3.org/1999/xhtml">Alan</div></g></g></g><g class="node" id="AlanAssigned" transform="translate(569.46875,178)"><rect rx="0" ry="0" x="-20.7421875" y="-23" width="41.484375" height="46"></rect><g class="label" transform="translate(0,0)"><g transform="translate(-10.7421875,-13)"><div xmlns="http://www.w3.org/1999/xhtml">???</div></g></g></g></g></div>
<h2 id="louis----papers">Louis  - Papers</h2>
<table>
<thead>
<tr>
<th>Title</th>
<th>Conference</th>
<th>Abstract</th>
<th>Why is it important?</th>
</tr>
</thead>
<tbody></tbody>
</table><h2 id="wentao---papers">Wentao - Papers</h2>
<table>
<thead>
<tr>
<th>Title</th>
<th>Conference</th>
<th>Abstract</th>
<th>Why is it important?</th>
</tr>
</thead>
<tbody></tbody>
</table><h2 id="hensen---papers">Hensen - Papers</h2>
<table>
<thead>
<tr>
<th>Title</th>
<th>Conference</th>
<th>Abstract</th>
<th>Why is it important?</th>
</tr>
</thead>
<tbody></tbody>
</table><h2 id="mohammad---papers">Mohammad - Papers</h2>
<table>
<thead>
<tr>
<th>Title</th>
<th>Conference</th>
<th>Abstract</th>
<th>Why is it important?</th>
</tr>
</thead>
<tbody></tbody>
</table><h2 id="alan---papers">Alan - Papers</h2>
<table>
<thead>
<tr>
<th>Title</th>
<th>Conference</th>
<th>Abstract</th>
<th>Why is it important?</th>
</tr>
</thead>
<tbody></tbody>
</table>


<h2 id="assignments">Assignments</h2>
<div class="mermaid"><svg xmlns="http://www.w3.org/2000/svg" id="mermaid-svg-MV2hT7o0CK8T4ers" width="100%" style="max-width: 591.21875px;" viewBox="0 0 591.21875 236"><g transform="translate(-12, -12)"><g class="output"><g class="clusters"></g><g class="edgePaths"><g class="edgePath" style="opacity: 1;"><path class="path" d="M53.359375,66L53.359375,91L53.359375,116" marker-end="url(#arrowhead4306)" style="fill:none"></path><defs><marker id="arrowhead4306" viewBox="0 0 10 10" refX="9" refY="5" markerUnits="strokeWidth" markerWidth="8" markerHeight="6" orient="auto"><path d="M 0 0 L 10 5 L 0 10 z" class="arrowheadPath" style="stroke-width: 1px; stroke-dasharray: 1px, 0px;"></path></marker></defs></g><g class="edgePath" style="opacity: 1;"><path class="path" d="M178.1953125,66L178.1953125,91L178.1953125,116" marker-end="url(#arrowhead4307)" style="fill:none"></path><defs><marker id="arrowhead4307" viewBox="0 0 10 10" refX="9" refY="5" markerUnits="strokeWidth" markerWidth="8" markerHeight="6" orient="auto"><path d="M 0 0 L 10 5 L 0 10 z" class="arrowheadPath" style="stroke-width: 1px; stroke-dasharray: 1px, 0px;"></path></marker></defs></g><g class="edgePath" style="opacity: 1;"><path class="path" d="M303.09375,66L303.09375,91L303.09375,116" marker-end="url(#arrowhead4308)" style="fill:none"></path><defs><marker id="arrowhead4308" viewBox="0 0 10 10" refX="9" refY="5" markerUnits="strokeWidth" markerWidth="8" markerHeight="6" orient="auto"><path d="M 0 0 L 10 5 L 0 10 z" class="arrowheadPath" style="stroke-width: 1px; stroke-dasharray: 1px, 0px;"></path></marker></defs></g><g class="edgePath" style="opacity: 1;"><path class="path" d="M441.8203125,66L441.8203125,91L441.8203125,116" marker-end="url(#arrowhead4309)" style="fill:none"></path><defs><marker id="arrowhead4309" viewBox="0 0 10 10" refX="9" refY="5" markerUnits="strokeWidth" markerWidth="8" markerHeight="6" orient="auto"><path d="M 0 0 L 10 5 L 0 10 z" class="arrowheadPath" style="stroke-width: 1px; stroke-dasharray: 1px, 0px;"></path></marker></defs></g><g class="edgePath" style="opacity: 1;"><path class="path" d="M569.46875,66L569.46875,91L569.46875,155" marker-end="url(#arrowhead4310)" style="fill:none"></path><defs><marker id="arrowhead4310" viewBox="0 0 10 10" refX="9" refY="5" markerUnits="strokeWidth" markerWidth="8" markerHeight="6" orient="auto"><path d="M 0 0 L 10 5 L 0 10 z" class="arrowheadPath" style="stroke-width: 1px; stroke-dasharray: 1px, 0px;"></path></marker></defs></g></g><g class="edgeLabels"><g class="edgeLabel" style="opacity: 1;" transform=""><g transform="translate(0,0)" class="label"><foreignObject width="0" height="0"><div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; white-space: nowrap;"><span class="edgeLabel"></span></div></foreignObject></g></g><g class="edgeLabel" style="opacity: 1;" transform=""><g transform="translate(0,0)" class="label"><foreignObject width="0" height="0"><div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; white-space: nowrap;"><span class="edgeLabel"></span></div></foreignObject></g></g><g class="edgeLabel" style="opacity: 1;" transform=""><g transform="translate(0,0)" class="label"><foreignObject width="0" height="0"><div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; white-space: nowrap;"><span class="edgeLabel"></span></div></foreignObject></g></g><g class="edgeLabel" style="opacity: 1;" transform=""><g transform="translate(0,0)" class="label"><foreignObject width="0" height="0"><div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; white-space: nowrap;"><span class="edgeLabel"></span></div></foreignObject></g></g><g class="edgeLabel" style="opacity: 1;" transform=""><g transform="translate(0,0)" class="label"><foreignObject width="0" height="0"><div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; white-space: nowrap;"><span class="edgeLabel"></span></div></foreignObject></g></g></g><g class="nodes"><g class="node" style="opacity: 1;" id="Louis" transform="translate(53.359375,43)"><rect rx="0" ry="0" x="-28.203125" y="-23" width="56.40625" height="46"></rect><g class="label" transform="translate(0,0)"><g transform="translate(-18.203125,-13)"><foreignObject width="36.40625" height="26"><div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; white-space: nowrap;">Louis</div></foreignObject></g></g></g><g class="node" style="opacity: 1;" id="LouisAssigned" transform="translate(53.359375,178)"><rect rx="0" ry="0" x="-33.359375" y="-62" width="66.71875" height="124"></rect><g class="label" transform="translate(0,0)"><g transform="translate(-23.359375,-52)"><foreignObject width="46.71875" height="104"><div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; white-space: nowrap;">ICPP<br>ICDCS<br>ISMM<br>PLDI</div></foreignObject></g></g></g><g class="node" style="opacity: 1;" id="Wentao" transform="translate(178.1953125,43)"><rect rx="0" ry="0" x="-37.8515625" y="-23" width="75.703125" height="46"></rect><g class="label" transform="translate(0,0)"><g transform="translate(-27.8515625,-13)"><foreignObject width="55.703125" height="26"><div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; white-space: nowrap;">Wentao</div></foreignObject></g></g></g><g class="node" style="opacity: 1;" id="WentaoAssigned" transform="translate(178.1953125,178)"><rect rx="0" ry="0" x="-41.4765625" y="-62" width="82.953125" height="124"></rect><g class="label" transform="translate(0,0)"><g transform="translate(-31.4765625,-52)"><foreignObject width="62.953125" height="104"><div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; white-space: nowrap;">NVMW<br>OOPSLA<br>EuroSys<br>EuroPar</div></foreignObject></g></g></g><g class="node" style="opacity: 1;" id="Hensen" transform="translate(303.09375,43)"><rect rx="0" ry="0" x="-36.828125" y="-23" width="73.65625" height="46"></rect><g class="label" transform="translate(0,0)"><g transform="translate(-26.828125,-13)"><foreignObject width="53.65625" height="26"><div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; white-space: nowrap;">Hensen</div></foreignObject></g></g></g><g class="node" style="opacity: 1;" id="HensenAssigned" transform="translate(303.09375,178)"><rect rx="0" ry="0" x="-33.421875" y="-62" width="66.84375" height="124"></rect><g class="label" transform="translate(0,0)"><g transform="translate(-23.421875,-52)"><foreignObject width="46.84375" height="104"><div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; white-space: nowrap;">PPoPP<br>PODC<br>DISC<br>SPAA</div></foreignObject></g></g></g><g class="node" style="opacity: 1;" id="Mohammad" transform="translate(441.8203125,43)"><rect rx="0" ry="0" x="-51.8984375" y="-23" width="103.796875" height="46"></rect><g class="label" transform="translate(0,0)"><g transform="translate(-41.8984375,-13)"><foreignObject width="83.796875" height="26"><div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; white-space: nowrap;">Mohammad</div></foreignObject></g></g></g><g class="node" style="opacity: 1;" id="MohammadAssigned" transform="translate(441.8203125,178)"><rect rx="0" ry="0" x="-39.1484375" y="-62" width="78.296875" height="124"></rect><g class="label" transform="translate(0,0)"><g transform="translate(-29.1484375,-52)"><foreignObject width="58.296875" height="104"><div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; white-space: nowrap;">PACT<br>SOSP<br>OSDI<br>ASPLOS</div></foreignObject></g></g></g><g class="node" style="opacity: 1;" id="Alan" transform="translate(569.46875,43)"><rect rx="0" ry="0" x="-25.75" y="-23" width="51.5" height="46"></rect><g class="label" transform="translate(0,0)"><g transform="translate(-15.75,-13)"><foreignObject width="31.5" height="26"><div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; white-space: nowrap;">Alan</div></foreignObject></g></g></g><g class="node" style="opacity: 1;" id="AlanAssigned" transform="translate(569.46875,178)"><rect rx="0" ry="0" x="-20.7421875" y="-23" width="41.484375" height="46"></rect><g class="label" transform="translate(0,0)"><g transform="translate(-10.7421875,-13)"><foreignObject width="21.484375" height="26"><div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; white-space: nowrap;">???</div></foreignObject></g></g></g></g></g></g></svg></div>
<h2 id="louis----papers">Louis  - Papers</h2>

<table>
<thead>
<tr>
<th>Title</th>
<th>Conference</th>
<th>Abstract</th>
<th>Why is it important?</th>
</tr>
</thead>
<tbody></tbody>
</table><h2 id="wentao---papers">Wentao - Papers</h2>

<table>
<thead>
<tr>
<th>Title</th>
<th>Conference</th>
<th>Abstract</th>
<th>Why is it important?</th>
</tr>
</thead>
<tbody></tbody>
</table><h2 id="hensen---papers">Hensen - Papers</h2>

<table>
<thead>
<tr>
<th>Title</th>
<th>Conference</th>
<th>Abstract</th>
<th>Why is it important?</th>
</tr>
</thead>
<tbody></tbody>
</table><h2 id="mohammad---papers">Mohammad - Papers</h2>

<table>
<thead>
<tr>
<th>Title</th>
<th>Conference</th>
<th>Abstract</th>
<th>Why is it important?</th>
</tr>
</thead>
<tbody></tbody>
</table><h2 id="alan---papers">Alan - Papers</h2>

<table>
<thead>
<tr>
<th>Title</th>
<th>Conference</th>
<th>Abstract</th>
<th>Why is it important?</th>
</tr>
</thead>
<tbody></tbody>
</table>
